.listitem {
  list-style-type: none;
  background-color: white;
}
.mainCont {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  padding-left: 0;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(84, 84, 84);
}
.carCont {
  width: 90%;
}
.carphoto {
  max-width: 90%;
  border-radius: 0.5rem;
}
