.header {
  background-color: rgb(255, 252, 252);
}
.navbar {
  display: grid;
  grid-template-columns: repeat(3 1fr);
  background-color: black;
  /* padding-bottom: 0.1rem; */
  padding: 0.4rem;
  position: sticky;
  z-index: 1;
  top: 0;
}
.logo {
  width: 8rem;
  grid-column: 1/2;
  padding-left: 0.3rem;
  padding-top: 0.3rem;
}
.mailCont {
  grid-column: 2/3;
  text-align: right;
  padding-right: 0.3rem;
  padding-top: 0.3rem;
}
.mail {
  width: 1.5rem;
}
.headerimg {
  width: 100%;
  padding-bottom: 0;
}
