.header {
  background-color: rgb(55, 54, 54);
}
.navbar {
  display: grid;
  grid-template-columns: repeat(3 1fr);
  background-color: black;
  padding: 0.4rem;
}
.logo {
  width: 5rem;
  grid-column: 1/2;
  padding-left: 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.mailCont {
  grid-column: 2/3;
  text-align: right;
  padding-right: 0.3rem;
  align-self: center;
}
.mail {
  width: 1rem;
}
.headerCont {
  position: relative;
  background: rgb(55, 54, 54);
}
.headerVideo {
  width: 100%;
  padding-bottom: 0;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.overlayText {
  font-size: 0.7rem;
  position: absolute;
  height: 75%;
  width: 90%;
  margin: 0;
  top: 8%;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  text-align: right;
  grid-column: 2/4;
  grid-row: 2/3;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.overlayText strong {
  font-size: 1.2rem;
  color: rgb(84, 191, 84);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media only screen and (min-width: 46rem) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .navbar {
    grid-column: 1/-1;
  }

  .headerCont {
    grid-column: 1/-1;
    overflow: hidden;
    height: 15rem;
  }
  /* .overlay {
    background-color: rgb(67, 64, 64, 0.5);
  } */
  .overlayText {
    grid-row: 1/3;
    display: inline;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    position: relative;
    height: 100%;
    width: 40%;
    top: 20%;
    left: 25%;
    padding-top: 0;
  }
  .overlayText strong {
    font-size: 4rem;
    color: rgb(0, 183, 91);
  }
}
